

td {
    width: 200px;
    height: 100px;
    font-size: 20px;
}

span {
    display: block;
    text-align: center;

}

tr:nth-of-type(1) td:first-child{
    color: white;
    background-color: #f2dbdb;
    font-weight:bold
}

tr:nth-of-type(1) td:nth-child(2){
    color: white;
    background-color: #e5b8b7;
    font-weight:bold
}

tr:nth-of-type(1) td:nth-child(3) {
    color: white;
    background-color: #d99594;
    font-weight:bold
}

tr:nth-of-type(1) td:nth-child(4) {
    color: white;
    background-color: #943634;
    font-weight:bold
}

tr:nth-of-type(1) td:nth-child(5) {
    color: white;
    background-color: #632423;
    font-weight:bold
}

td:first-child{
    color: white;
    background-color: #943634dd;
}


/* для парних */
tr:nth-child(even){
    color: black;
    background-color: #e5b8b7;
}


/* для непарних */
tr:nth-child(odd){
    color: black;
    background-color: #f2dbdb;

}